<h2 class="sub-title">取引ページ</h2>
<div class="chat-main">
  <% if @chats.present? %>
    <%= render partial: "dealings/post", collection: @chats, as: "chat" %>
  <% else %>
    <div class="chat-empty-message">まだ何も書き込まれていません。</div>
  <% end %>
</div>
<div class="chat-form-container">
  <%= form_with model: [@commission, @chat], local: true, class: "chat-form" do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%= f.text_area :post_text, class: "chat-text-area" %>
    <%= f.submit "送信", class: "button-orange" %>
  <% end %>
</div>