<div class="user-form-container">
  <%= form_with model: [user, achievement], local: true, class: "create-commission-form" do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="input-item">
      <%= f.label :achievement_text, "今までの実績" %>
      <%= f.text_area :achievement_text, class: "input-text" %>
    </div>
    <div class="input-item">
      <%= f.label :text, "今までの制作物" %>
      <%= f.text_area :text, class: "input-text" %>
    </div>
    <div class="input-item">
      <%= f.label :images, "制作物の画像" %><br>
      <%= f.file_field :images, multiple: true %>
    </div>
    <div class="input-item form-button-center">
      <%= f.submit "送信", class: "button-orange" %>
    </div>
  <% end %>
</div>