<!DOCTYPE html>
<html>
  <head>
    <title>PhotoDiorama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
      <%= link_to image_tag("site-logo_kari.png", class: "site-logo"), root_path %>
      <div class="header-button">
        <% if user_signed_in? %>
          <%= current_user.user_name %>
          <%= link_to "依頼する", root_path %>
          <%= link_to "ログアウト", destroy_user_session_path, data:{turbo_method: :delete} %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="site-footer">
      Photo Diorama - 2023
    </footer>
  </body>
</html>
