<!DOCTYPE html>
<html>
  <head>
    <title>PhotoDiorama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
      <%= link_to image_tag("site-logo_kari.png", class: "site-logo"), root_path %>
      <div class="header-right">
        <% if user_signed_in? %>
          <% if @notification_count > 0 %>
            <%= link_to "依頼が届いています！", notifications_path, class: "notification" %>
          <% end %>
          <div class="header-user-name"><%= link_to current_user.user_name, user_path(current_user) %></div>
          <%= link_to "依頼する", new_commission_path, class: "header-button" %>
          <%= link_to "ログアウト", destroy_user_session_path, data:{turbo_method: :delete}, class: "header-button" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "header-button" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header-button" %>
        <% end %>
      </div>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="flash-messages"><%= message %></div>
    <% end %>
    <%= yield %>
    <footer class="site-footer">
      Photo Diorama - 2023
    </footer>
  </body>
</html>
